/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
prototype/package/fanboy/files/target/
prototype/package/fanboy/files/bin
prototype/package/fanboy/files/vendor/pkg
prototype/package/fanboy/files/.idea/
